* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #500308;
}

/* umum */

.container {
  width: 100%;
  height: auto;
}

.font {
  font-family: "Cinzel", sans-serif;
  color: white;
  margin-bottom: 5px;
}

.judul {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.logo {
  width: 130px;
  margin: -4px 10px;
}

/* header */
header {
  width: 100%;
  height: 20vh;
  position: fixed;
  z-index: 100;
}

.navigation {
  background-color: #3b0206;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  row-gap: 2.5rem;
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  color: white;
  padding: 15px;
}

nav li a:hover {
  font-weight: 700;
}

.ri-account-circle-line {
  color: white;
}
/* header & nav */

/* main */
.logo-naga {
  position: fixed;
  z-index: -1;
  filter: blur(3px);
  width: 100%;
  min-height: 100vh;
  object-position: center;
}

.home {
  min-height: 100vh;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.desc {
  width: 400px;
  color: white;
  font-weight: 500;
  text-align: justify;
}

.review,
img {
  width: 400px;
  gap: 1rem;
  scroll-snap-align: center;
}

.film {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listFilm {
  width: 95.5%;
  height: 500px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.poster {
  width: 180px;
  height: 250px;
  padding: 25px;
  filter: drop-shadow(-5px 0 20px #0f0f0f);
}

.box {
  width: 700px;
  height: 350px;
  scroll-snap-align: start;
  align-items: center;
  justify-content: space-between;
  border: #0f0f0f solid 1px;
}

.desc-box {
  width: 600px;
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}

/* character */
.infinite-scroll {
  overflow: hidden;
  display: flex;
}

.cast {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  flex-shrink: 0;
  animation: infinite-scroll 30s linear infinite;
}

.animasi-cast,
.live-action-cast {
  margin-top: 3rem;
  gap: 1rem;
}

.character {
  margin-bottom: 3rem;
}
.character h1 {
  font-size: xx-large;
  text-align: center;
  padding-top: 100px;
}
.character img {
  width: 150px;
  margin: 2rem;
}
.character h2 {
  margin-left: 20px;
}
.character h2,
p {
  color: white;
}
.box2 {
  width: 200px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.box2 p {
  text-align: center;
}

/* profil */
aside {
  width: 100%;
}

.boxx {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.profil {
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profil img {
  width: 200px;
  border-radius: 50%;
}

.shortDesc {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shortDesc p {
  text-align: center;
  color: white;
  font-size: large;
  margin-bottom: 10px;
}

.link {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
}

.link i {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 5px;
}

.link .email {
  font-size: large;
}

/* footer */
footer {
  width: 100%;
  height: 10vh;
  background-color: #3b0206;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
}

/* scroll area */

/* scroll manual */
.scroll {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

/* hide the scrollbar */
.scroll::-webkit-scrollbar {
  display: none;
}

/* infinite scroll */
@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* scroll area */

/* responsif */
@media screen and (min-width: 1260px) and (max-width: 1440px) {
  .desc {
    width: 600px;
    font-size: larger;
  }
  .review,
  img {
    width: 600px;
  }
  .desc-box {
    width: 600px;
    height: 300px;
    font-size: large;
    text-align: left;
  }
  .box {
    height: 350px;
  }
  nav li a {
    padding: 35px;
  }
  .film {
    row-gap: 3rem;
    padding: 15px;
  }
  .film h1 {
    margin-top: 90px;
  }
  .listFilm {
    width: 95%;
  }
}

@media screen and (max-width: 1024px) {
  .film {
    row-gap: 1rem;
  }
  .film h1 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .review,
  img {
    width: 400px;
    margin-top: 2.5rem;
  }
  .box {
    width: 100%;
    height: 300px;
  }
  .desc {
    width: 600px;
  }
  .poster {
    margin-top: -5px;
  }
  .film {
    row-gap: 3rem;
  }

  /* character */
  .character h1 {
    font-size: larger;
  }
  .character h2 {
    font-size: large;
  }
  .character p {
    font-size: medium;
    margin-top: -10px;
  }
  .character img {
    width: 120px;
    margin-top: -10px;
  }
  .animasi-cast {
    width: 100%;
  }
  .cast {
    height: 280px;
  }
  .box2 {
    width: 200px;
    height: 250px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .navigation {
    height: 10vh;
    width: 100%;
  }
  .logo {
    width: 80px;
  }
  nav ul {
    font-size: x-small;
    display: flex;
  }
  .home {
    padding: 15px;
    column-gap: 2rem;
  }
  .home .desc {
    font-size: small;
  }
  .font {
    font-size: larger;
  }

  /* film */
  .review,
  img {
    margin: 2rem 1rem 1rem;
    width: 100%;
  }
  .listFilm {
    margin: -30px 5px 0;
    height: 510px;
    width: 95vh;
  }
  .box {
    margin: 10px;
    height: 500px;
    width: 90vh;
  }
  .desc {
    margin-top: 1rem;
    width: 400px;
  }
  .desc-box {
    flex-direction: column;
    font-size: small;
    width: 55vh;
    margin: -20px 10px 0 10px;
  }

  /* character */
  .character h1 {
    margin-top: 100px;
    font-size: medium;
  }
  .character h2 {
    font-size: small;
    margin-top: 20px;
  }
  .character p {
    font-size: smaller;
    margin-top: -10px;
  }
  .character img {
    width: 80px;
    margin-top: -10px;
  }
  .animasi-cast {
    width: 100%;
  }
  .cast {
    height: 230px;
  }
  .box2 {
    width: 25vh;
    height: 200px;
  }

  /* footer */
  footer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
